._src_bot_dashboard_react_css_dashboard__loading {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#282b30;
	opacity:0;
	pointer-events:none;
	-webkit-transition:0.2s ease-out;
	transition:0.2s ease-out;
}

._src_bot_dashboard_react_css_dashboard__loading._src_bot_dashboard_react_css_dashboard__visible {
	opacity:1;
}

._src_bot_dashboard_react_css_dashboard__loadingCenter {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	        transform:translateX(-50%) translateY(-50%);
	text-align:center;
}

._src_bot_dashboard_react_css_dashboard__loading h1 {
	color:rgba(255,255,255,0.9);
	font-family:Open Sans;
	font-size:1.2rem;
	font-weight:400;
}

._src_bot_dashboard_react_css_dashboard__loading h2 {
	color:rgba(255,255,255,0.7);
	font-family:Open Sans;
	font-size:0.9rem;
	font-weight:600;
	-webkit-animation:_src_bot_dashboard_react_css_dashboard__pulsate 3s ease-in-out infinite;
	        animation:_src_bot_dashboard_react_css_dashboard__pulsate 3s ease-in-out infinite;
}

._src_bot_dashboard_react_css_dashboard__dashboard {
	width:100%;
	max-width:900px;
	margin:auto;
	padding-top:6rem;
}

._src_bot_dashboard_react_css_dashboard__header {
	position:fixed;
	width:100%;
	max-width:900px;
	top:0;
	left:50%;
	-webkit-transform:translateX(-50%);
	        transform:translateX(-50%);
	z-index:1;
}

._src_bot_dashboard_react_css_dashboard__headerContent {
	position:relative;
	background:#393c41;
	height:5rem;
	border-radius:0.2rem;
	border:1px solid #282b30;
	margin:1rem;
}

._src_bot_dashboard_react_css_dashboard__headerTitles {
	position:absolute;
	top:50%;
	left:2rem;
	-webkit-transform:translateY(-50%);
	        transform:translateY(-50%);
}

._src_bot_dashboard_react_css_dashboard__header h2 {
	margin:0;
	margin-bottom:0.2rem;
	color:rgba(255,255,255,0.7);
	font-family:Open Sans;
	font-size:0.9rem;
	font-weight:600;
	line-height:0.9rem;
}

._src_bot_dashboard_react_css_dashboard__header h1 {
	margin:0;
	color:rgba(255,255,255,0.9);
	font-family:Open Sans;
	font-size:1.4rem;
	font-weight:600;
	line-height:1.4rem;
}

._src_bot_dashboard_react_css_dashboard__headerRight {
	position:absolute;
	top:50%;
	right:2rem;
	-webkit-transform:translateY(-50%);
	        transform:translateY(-50%);
}

@-webkit-keyframes _src_bot_dashboard_react_css_dashboard__pulsate {
	0% { -webkit-transform: scale(1, 1); transform: scale(1, 1); opacity: 0.9; }
    50% { -webkit-transform: scale(1.05, 1.05); transform: scale(1.05, 1.05); opacity: 1.0;}
    100% { -webkit-transform: scale(1, 1); transform: scale(1, 1); opacity: 0.9; }
}

@keyframes _src_bot_dashboard_react_css_dashboard__pulsate {
	0% { -webkit-transform: scale(1, 1); transform: scale(1, 1); opacity: 0.9; }
    50% { -webkit-transform: scale(1.05, 1.05); transform: scale(1.05, 1.05); opacity: 1.0;}
    100% { -webkit-transform: scale(1, 1); transform: scale(1, 1); opacity: 0.9; }
}
._src_lib_ui_css_panel__panel {
	background:#ffffff;
	border:1px solid #e4e4e4;
	margin:1rem;
	border-radius:0.2rem;
	overflow:hidden;
}

._src_lib_ui_css_panel__panelTitle {
	font-family:Open Sans;
	font-size:1.1rem;
	font-weight:600;
	color:#666666;
	padding:1rem 0.5rem;
	margin:0 1.5rem;
	position:relative;
	border-bottom:1px solid #f0f0f0;
}

._src_lib_ui_css_panel__panelContent {
	padding:2rem;
}
._src_lib_ui_form_css_button__button {
	-webkit-appearance:none;
	   -moz-appearance:none;
	        appearance:none;
	outline:none;
	border:none;
	line-height:2.1rem;
	font-family:Open Sans;
	font-size:0.9rem;
	font-weight:600;
	padding:0 0.7rem;
	border-radius:0.2rem;
	cursor:pointer;
	-webkit-transition:0.05s;
	transition:0.05s;
}

._src_lib_ui_form_css_button__button._src_lib_ui_form_css_button__block {
	display:block;
	font-size:1rem;
	line-height:2.4rem;
}

._src_lib_ui_form_css_button__button:disabled {
	cursor:default;
}

._src_lib_ui_form_css_button__button._src_lib_ui_form_css_button__hollow {
	background:none;
	border-bottom:2px solid transparent;
	border-radius:0;
	padding:0;
}

._src_lib_ui_form_css_button__button._src_lib_ui_form_css_button__hollow._src_lib_ui_form_css_button__dark {
	color:#ffffff;
}
._src_lib_ui_form_css_button__button._src_lib_ui_form_css_button__hollow._src_lib_ui_form_css_button__dark:hover {
	border-bottom-color:#ffffff;
}

._src_lib_ui_form_css_button__button._src_lib_ui_form_css_button__hollow._src_lib_ui_form_css_button__light {
	color:#444444;
}
._src_lib_ui_form_css_button__button._src_lib_ui_form_css_button__hollow._src_lib_ui_form_css_button__light:hover {
	border-bottom-color:#444444;
}
._src_lib_ui_form_css_checkbox__checkbox {
	margin:1rem 0;
	display:block;
}

._src_lib_ui_form_css_checkbox__checkbox input {
	display:none;
}


._src_lib_ui_form_css_checkbox__checkbox * {
	cursor:pointer;
	-webkit-transition:0.05s;
	transition:0.05s;
}
._src_lib_ui_form_css_checkbox__checkbox._src_lib_ui_form_css_checkbox__disabled * {
	cursor:default;
}


._src_lib_ui_form_css_checkbox__checkbox ._src_lib_ui_form_css_checkbox__boxOuter {
	display:inline-block;
	background:#ffffff;
	border:2px solid #dddddd;
	border-radius:0.2rem;
	width:0.9rem;
	height:0.9rem;
	vertical-align:middle;
}
._src_lib_ui_form_css_checkbox__checkbox._src_lib_ui_form_css_checkbox__disabled ._src_lib_ui_form_css_checkbox__boxOuter {
	border:2px solid #efefef;
}
._src_lib_ui_form_css_checkbox__checkbox._src_lib_ui_form_css_checkbox__checked ._src_lib_ui_form_css_checkbox__boxOuter {
	position:relative;
	border:2px solid #2980b9;
	background:#2980b9;
}
._src_lib_ui_form_css_checkbox__checkbox._src_lib_ui_form_css_checkbox__checked._src_lib_ui_form_css_checkbox__disabled ._src_lib_ui_form_css_checkbox__boxOuter {
	border:2px solid #c0def1;
	background:#c0def1;
}


._src_lib_ui_form_css_checkbox__checkbox ._src_lib_ui_form_css_checkbox__boxInner {
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	width:0.9rem;
	height:0.9rem;
	-webkit-transform:translateX(-50%) translateY(-50%);
	        transform:translateX(-50%) translateY(-50%);
	color:#ffffff;
	opacity:0;
}
._src_lib_ui_form_css_checkbox__checkbox._src_lib_ui_form_css_checkbox__checked ._src_lib_ui_form_css_checkbox__boxInner {
	opacity:1;
}


._src_lib_ui_form_css_checkbox__checkbox ._src_lib_ui_form_css_checkbox__label {
	font-family:Open Sans;
	font-size:1rem;
	line-height:1rem;
	padding-left:0.5rem;
	vertical-align:middle;
	color:#444444;
	-webkit-user-select:none;
	   -moz-user-select:none;
	    -ms-user-select:none;
	        user-select:none;
}
._src_lib_ui_form_css_checkbox__checkbox._src_lib_ui_form_css_checkbox__disabled ._src_lib_ui_form_css_checkbox__label {
	color:#cccccc;
}
._src_lib_ui_form_css_input__input {
	outline:none;
	-webkit-appearance:none;
	   -moz-appearance:none;
	        appearance:none;
	font-family:Open Sans;
	font-size:0.9rem;
	border:none;
	border-radius:0;
	padding:0.5rem 0.7rem;
	-webkit-transition:0.05s;
	transition:0.05s;
	box-shadow:0 1px 0 #dddddd, 0 2px 0 transparent;
}

._src_lib_ui_form_css_input__input:focus {
	box-shadow:0 2px 0 #2980b9;
}

._src_lib_ui_form_css_input__input._src_lib_ui_form_css_input__centered {
	text-align:center;
}
._src_lib_ui_form_css_label__label {
	display:block;
	font-family:Open Sans;
	font-size:0.7rem;
	font-weight:700;
	text-transform:uppercase;
	color:#777777;
	-webkit-user-select:none;
	   -moz-user-select:none;
	    -ms-user-select:none;
	        user-select:none;
}
._src_lib_ui_css_col__col {
	display:inline-block;
}

._src_lib_ui_css_col__col1 { width: 8.33%; }
._src_lib_ui_css_col__col2 { width: 16.66%; }
._src_lib_ui_css_col__col3 { width: 25%; }
._src_lib_ui_css_col__col4 { width: 33.33%; }
._src_lib_ui_css_col__col5 { width: 41.66%; }
._src_lib_ui_css_col__col6 { width: 50%; }
._src_lib_ui_css_col__col7 { width: 58.33%; }
._src_lib_ui_css_col__col8 { width: 66.66%; }
._src_lib_ui_css_col__col9 { width: 75%; }
._src_lib_ui_css_col__col10 { width: 83.33%; }
._src_lib_ui_css_col__col11 { width: 91.66%; }
._src_lib_ui_css_col__col12 { width: 100%; }
._src_bot_dashboard_react_bot_css_index__commandCols:after {
	content:'';
	display:block;
	clear:both;
}

._src_bot_dashboard_react_bot_css_index__commandCol {
	float:left;
}
