._src_bot_dashboard_react_css_dashboard__dashboard {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	-webkit-user-select:none;
	   -moz-user-select:none;
	    -ms-user-select:none;
	        user-select:none;
}

._src_bot_dashboard_react_css_dashboard__content {
	position:absolute;
	top:4rem;
	left:250px;
	bottom:0;
	right:0;
}

._src_bot_dashboard_react_css_dashboard__ui {
	padding:2rem;
}
._src_bot_dashboard_react_css_loading__loading {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#282b30;
	opacity:0;
	pointer-events:none;
	-webkit-transition:0.2s ease-out;
	transition:0.2s ease-out;
	z-index:99999;
}

._src_bot_dashboard_react_css_loading__loading._src_bot_dashboard_react_css_loading__visible {
	opacity:1;
}

._src_bot_dashboard_react_css_loading__loadingCenter {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	        transform:translateX(-50%) translateY(-50%);
	text-align:center;
}

._src_bot_dashboard_react_css_loading__loading h1 {
	color:rgba(255,255,255,0.9);
	font-family:Open Sans;
	font-size:1.2rem;
	font-weight:400;
}

._src_bot_dashboard_react_css_loading__loading h2 {
	color:rgba(255,255,255,0.7);
	font-family:Open Sans;
	font-size:0.9rem;
	font-weight:600;
	-webkit-animation:_src_bot_dashboard_react_css_loading__pulsate 3s ease-in-out infinite;
	        animation:_src_bot_dashboard_react_css_loading__pulsate 3s ease-in-out infinite;
}

@-webkit-keyframes _src_bot_dashboard_react_css_loading__pulsate {
	0% { -webkit-transform: scale(1, 1); transform: scale(1, 1); opacity: 0.9; }
    50% { -webkit-transform: scale(1.05, 1.05); transform: scale(1.05, 1.05); opacity: 1.0;}
    100% { -webkit-transform: scale(1, 1); transform: scale(1, 1); opacity: 0.9; }
}

@keyframes _src_bot_dashboard_react_css_loading__pulsate {
	0% { -webkit-transform: scale(1, 1); transform: scale(1, 1); opacity: 0.9; }
    50% { -webkit-transform: scale(1.05, 1.05); transform: scale(1.05, 1.05); opacity: 1.0;}
    100% { -webkit-transform: scale(1, 1); transform: scale(1, 1); opacity: 0.9; }
}
._src_bot_dashboard_react_css_header__header {
	position:absolute;
	top:0;
	left:250px;
	right:0;
	background:#ffffff;
	height:4rem;
	border-bottom:2px solid rgba(0,0,0,0.05);
	box-sizing:border-box;
}

._src_bot_dashboard_react_css_header__header ._src_bot_dashboard_react_css_header__title {
	position:absolute;
	top:50%;
	left:2rem;
	-webkit-transform:translateY(-50%);
	        transform:translateY(-50%);
	right:6rem;
	margin:0;
	margin-top:0.1rem;
	color:#555555;
	font-family:Hind;
	font-size:1.2rem;
	font-weight:500;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

._src_bot_dashboard_react_css_header__headerRight {
	position:absolute;
	top:50%;
	right:2rem;
	-webkit-transform:translateY(-50%);
	        transform:translateY(-50%);
}
._src_bot_dashboard_react_css_sidebar__sidebar {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:250px;
	background:#393c41;
	border-left:2px solid #222222;
	box-sizing:border-box;
}

._src_bot_dashboard_react_css_sidebar__serverName {
	margin:0;
	color:#fcfcfc;
	font-family:Hind;
	font-size:1rem;
	line-height:4.2rem;
	height:4rem;
	font-weight:500;
	overflow:hidden;
	width:100%;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding:0 1.4rem;
	box-sizing:border-box;
	background:rgba(0,0,0,0.1);
	border-bottom:2px solid rgba(0,0,0,0.2);
}

._src_bot_dashboard_react_css_sidebar__uis {
	position:absolute;
	top:5rem;
	left:0;
	right:0;
	bottom:0;
}
._src_bot_dashboard_react_settings_dictionary_css_index__words {
	position:absolute;
	left:1rem;
	top:4rem;
	bottom:2rem;
	width:200px;
	border-right:1px solid #f0f0f0;
	box-sizing:border-box;
}

._src_bot_dashboard_react_settings_dictionary_css_index__definition {
	position:absolute;
	left:calc(1rem + 200px);
	top:4rem;
	bottom:2rem;
	right:1rem;
}

._src_bot_dashboard_react_settings_dictionary_css_index__definitionContent {
	padding-left:1rem;
	padding-right:1rem;
}

._src_bot_dashboard_react_settings_dictionary_css_index__definitionPhrase {
	padding:0;
	margin:0;
	font-family:Open Sans;
	font-size:1rem;
	font-weight:600;
	color:#666666;
	margin-bottom:1rem;
}
._src_bot_dashboard_react_settings_bot_css_index__commandCols:after {
	content:'';
	display:block;
	clear:both;
}

._src_bot_dashboard_react_settings_bot_css_index__commandCol {
	float:left;
	margin-top:-1rem;
}
._src_bot_dashboard_react_settings_stats_css_index__users {
	position:absolute;
	left:1rem;
	top:4rem;
	bottom:2rem;
	width:200px;
	border-right:1px solid #f0f0f0;
	box-sizing:border-box;
}

._src_bot_dashboard_react_settings_stats_css_index__details {
	position:absolute;
	left:calc(1rem + 200px);
	top:4rem;
	bottom:2rem;
	right:1rem;
}

._src_bot_dashboard_react_settings_stats_css_index__detailsContent {
	padding-left:1rem;
	padding-right:1rem;
}

._src_bot_dashboard_react_settings_stats_css_index__detailsUsername {
	padding:0;
	margin:0;
	font-family:Open Sans;
	font-size:1rem;
	font-weight:600;
	color:#666666;
	margin-bottom:1rem;
	margin-top:0.1rem;
}

._src_bot_dashboard_react_settings_stats_css_index__detailsBot {
	display:inline-block;
	color:#ffffff;
	background:#2980b9;
	font-size:0.8rem;
	font-weight:400;
	text-transform:uppercase;
	padding:0.2rem 0.4rem;
	border-radius:0.2rem;
	margin-left:1rem;
	position:relative;
	top:-0.05rem;
}
._src_bot_dashboard_react_settings_rss_css_index__feeds {
	position:absolute;
	left:1rem;
	top:4rem;
	bottom:2rem;
	width:200px;
	border-right:1px solid #f0f0f0;
	box-sizing:border-box;
}

._src_bot_dashboard_react_settings_rss_css_index__details {
	position:absolute;
	left:calc(1rem + 200px);
	top:4rem;
	bottom:2rem;
	right:1rem;
}

._src_bot_dashboard_react_settings_rss_css_index__detailsContent {
	padding-left:1rem;
	padding-right:1rem;
}
._src_lib_ui_css_scrollpane__scrollpane ._src_lib_ui_css_scrollpane__trackHorizontal {
	height:8px !important;
	left:2px;
	right:2px;
	bottom:2px;
}

._src_lib_ui_css_scrollpane__scrollpane ._src_lib_ui_css_scrollpane__trackVertical {
	width:8px !important;
	right:2px;
	top:2px;
	bottom:2px;
}

._src_lib_ui_css_scrollpane__scrollpane ._src_lib_ui_css_scrollpane__thumbVertical,
._src_lib_ui_css_scrollpane__scrollpane ._src_lib_ui_css_scrollpane__thumbHorizontal {
	background:rgba(0,0,0,0.3);
	border-radius:4px;
}

._src_lib_ui_css_scrollpane__scrollpane ._src_lib_ui_css_scrollpane__thumbVertical:hover,
._src_lib_ui_css_scrollpane__scrollpane ._src_lib_ui_css_scrollpane__thumbHorizontal:hover {
	background:rgba(0,0,0,0.4);
}
._src_lib_ui_css_listselect__listselect ._src_lib_ui_css_listselect__entry {
	font-family:Open Sans;
	font-size:0.9rem;
	font-weight:400;
	line-height:2.5rem;
	height:2.5rem;
	overflow:hidden;
	padding:0 1.4rem;
	cursor:pointer;
	border-left:2px solid transparent;
	-webkit-user-select:none;
	   -moz-user-select:none;
	    -ms-user-select:none;
	        user-select:none;
	box-sizing:border-box;
	white-space:nowrap;
	text-overflow:ellipsis;
}
._src_lib_ui_css_listselect__listselect ._src_lib_ui_css_listselect__entry:hover {
	border-left:2px solid rgba(255,255,255,0.2);
}
._src_lib_ui_css_listselect__listselect ._src_lib_ui_css_listselect__entry._src_lib_ui_css_listselect__selected {
	font-weight:600;
	border-left:2px solid #45a9ec;
}


._src_lib_ui_css_listselect__listselect._src_lib_ui_css_listselect__dark {
	background:#393c41;
}
._src_lib_ui_css_listselect__listselect._src_lib_ui_css_listselect__dark ._src_lib_ui_css_listselect__entry {
	color:rgba(255,255,255,0.6);
}
._src_lib_ui_css_listselect__listselect._src_lib_ui_css_listselect__dark ._src_lib_ui_css_listselect__entry:hover, ._src_lib_ui_css_listselect__listselect._src_lib_ui_css_listselect__dark ._src_lib_ui_css_listselect__entry._src_lib_ui_css_listselect__selected {
	background:rgba(0,0,0,0.15);
	color:#fcfcfc;
}


._src_lib_ui_css_listselect__listselect._src_lib_ui_css_listselect__light {
	background:#ffffff;
}
._src_lib_ui_css_listselect__listselect._src_lib_ui_css_listselect__light ._src_lib_ui_css_listselect__entry {
	color:#666666;
}
._src_lib_ui_css_listselect__listselect._src_lib_ui_css_listselect__light ._src_lib_ui_css_listselect__entry:hover, ._src_lib_ui_css_listselect__listselect._src_lib_ui_css_listselect__light ._src_lib_ui_css_listselect__entry._src_lib_ui_css_listselect__selected {
	background:#fafafa;
}
._src_lib_ui_css_panel__panel {
	background:#ffffff;
	border:1px solid #e4e4e4;
	margin:1rem;
	border-radius:0.2rem;
	overflow:hidden;
}

._src_lib_ui_css_panel__panelTitle {
	font-family:Open Sans;
	font-size:1.1rem;
	font-weight:600;
	color:#666666;
	padding:1rem 0.5rem;
	margin:0 1.5rem;
	position:relative;
	border-bottom:1px solid #f0f0f0;
}

._src_lib_ui_css_panel__panelContent {
	padding:2rem;
}
._src_lib_ui_css_col__col {
	display:inline-block;
}

._src_lib_ui_css_col__col1 { width: 8.33%; }
._src_lib_ui_css_col__col2 { width: 16.66%; }
._src_lib_ui_css_col__col3 { width: 25%; }
._src_lib_ui_css_col__col4 { width: 33.33%; }
._src_lib_ui_css_col__col5 { width: 41.66%; }
._src_lib_ui_css_col__col6 { width: 50%; }
._src_lib_ui_css_col__col7 { width: 58.33%; }
._src_lib_ui_css_col__col8 { width: 66.66%; }
._src_lib_ui_css_col__col9 { width: 75%; }
._src_lib_ui_css_col__col10 { width: 83.33%; }
._src_lib_ui_css_col__col11 { width: 91.66%; }
._src_lib_ui_css_col__col12 { width: 100%; }

@media (max-width: 768px) {
	._src_lib_ui_css_col__col { width: 100%; }
}
._src_lib_ui_form_css_button__button {
	-webkit-appearance:none;
	   -moz-appearance:none;
	        appearance:none;
	outline:none;
	border:none;
	line-height:2.1rem;
	font-family:Open Sans;
	font-size:0.9rem;
	font-weight:600;
	padding:0 0.7rem;
	border-radius:0.2rem;
	cursor:pointer;
	-webkit-transition:0.05s;
	transition:0.05s;
}

._src_lib_ui_form_css_button__button._src_lib_ui_form_css_button__block {
	display:block;
	font-size:1rem;
	line-height:2.4rem;
}

._src_lib_ui_form_css_button__button:disabled {
	cursor:default;
}

._src_lib_ui_form_css_button__button._src_lib_ui_form_css_button__hollow {
	background:none;
	border-bottom:2px solid transparent;
	border-radius:0;
	padding:0;
}

._src_lib_ui_form_css_button__button._src_lib_ui_form_css_button__hollow._src_lib_ui_form_css_button__dark {
	color:#ffffff;
}
._src_lib_ui_form_css_button__button._src_lib_ui_form_css_button__hollow._src_lib_ui_form_css_button__dark:hover {
	border-bottom-color:#ffffff;
}

._src_lib_ui_form_css_button__button._src_lib_ui_form_css_button__hollow._src_lib_ui_form_css_button__light {
	color:#444444;
}
._src_lib_ui_form_css_button__button._src_lib_ui_form_css_button__hollow._src_lib_ui_form_css_button__light:hover {
	border-bottom-color:#2980b9;
}
._src_lib_ui_form_css_textarea__textarea {
	width:100%;
	padding:0.5rem 0.8rem;
	box-sizing:border-box;
	-webkit-appearance:none;
	   -moz-appearance:none;
	        appearance:none;
	outline:none;
	border:2px solid #dddddd;
	border-radius:0.2rem;
	resize:none;
	font-family:Open Sans;
	font-size:0.9rem;
	background:#ffffff;
	color:#444444;
}
._src_lib_ui_form_css_label__label {
	display:block;
	font-family:Open Sans;
	font-size:0.7rem;
	font-weight:700;
	text-transform:uppercase;
	color:#777777;
	-webkit-user-select:none;
	   -moz-user-select:none;
	    -ms-user-select:none;
	        user-select:none;
}
._src_lib_ui_form_css_input__input {
	outline:none;
	-webkit-appearance:none;
	   -moz-appearance:none;
	        appearance:none;
	font-family:Open Sans;
	font-size:0.9rem;
	border:none;
	border-radius:0;
	padding:0.5rem 0;
	box-sizing:border-box;
	-webkit-transition:0.05s;
	transition:0.05s;
	box-shadow:0 1px 0 #dddddd, 0 2px 0 transparent;
	background:#ffffff;
	color:#444444;
}

._src_lib_ui_form_css_input__input:focus {
	box-shadow:0 2px 0 #2980b9;
}

._src_lib_ui_form_css_input__input._src_lib_ui_form_css_input__centered {
	text-align:center;
}
._src_lib_ui_form_css_deletebutton__deletebutton {
	-webkit-appearance:none;
	   -moz-appearance:none;
	        appearance:none;
	outline:none;
	border:none;
	height:2.5rem;
	padding:0;
	margin:0;
	background:transparent;
	cursor:pointer;
	-webkit-transition:0.2s;
	transition:0.2s;
	border-radius:0.2rem;
	overflow:hidden;
}

._src_lib_ui_form_css_deletebutton__deletebutton:hover, ._src_lib_ui_form_css_deletebutton__deletebutton._src_lib_ui_form_css_deletebutton__expanded {
	background:#e74c3c;
}

._src_lib_ui_form_css_deletebutton__icon {
	position:relative;
	display:inline-block;
	width:2.5rem;
	height:2.5rem;
	-webkit-transition:0.2s;
	transition:0.2s;
	text-align:center;
	vertical-align:middle;
	pointer-events:none;
}

._src_lib_ui_form_css_deletebutton__deletebutton._src_lib_ui_form_css_deletebutton__light ._src_lib_ui_form_css_deletebutton__icon {
	color:rgba(0,0,0,0.5);
}
._src_lib_ui_form_css_deletebutton__deletebutton._src_lib_ui_form_css_deletebutton__dark ._src_lib_ui_form_css_deletebutton__icon {
	color:rgba(255,255,255,0.9);
}

._src_lib_ui_form_css_deletebutton__deletebutton:hover ._src_lib_ui_form_css_deletebutton__icon, ._src_lib_ui_form_css_deletebutton__deletebutton._src_lib_ui_form_css_deletebutton__expanded ._src_lib_ui_form_css_deletebutton__icon {
	color:#ffffff;
}

._src_lib_ui_form_css_deletebutton__trashcan {
	width:1.5rem;
	height:1.5rem;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	        transform:translateX(-50%) translateY(-50%);
	margin-left:-1px;
}

._src_lib_ui_form_css_deletebutton__label {
	display:inline-block;
	width:0;
	overflow:hidden;
	-webkit-transition:0.2s;
	transition:0.2s;
	white-space:nowrap;
	line-height:2.5rem;
	vertical-align:middle;
	color:#ffffff;
	font-family:Open Sans;
	font-weight:600;
	background:#f85d4d;
}

._src_lib_ui_form_css_deletebutton__label:hover {
	background:#e74c3c;
}
._src_lib_ui_form_css_checkbox__checkbox {
	margin:1rem 0;
	display:block;
}

._src_lib_ui_form_css_checkbox__checkbox input {
	display:none;
}


._src_lib_ui_form_css_checkbox__checkbox * {
	cursor:pointer;
	-webkit-transition:0.05s;
	transition:0.05s;
}
._src_lib_ui_form_css_checkbox__checkbox._src_lib_ui_form_css_checkbox__disabled * {
	cursor:default;
}


._src_lib_ui_form_css_checkbox__checkbox ._src_lib_ui_form_css_checkbox__boxOuter {
	display:inline-block;
	background:#ffffff;
	border:2px solid #dddddd;
	border-radius:0.2rem;
	width:0.9rem;
	height:0.9rem;
	vertical-align:middle;
}
._src_lib_ui_form_css_checkbox__checkbox._src_lib_ui_form_css_checkbox__disabled ._src_lib_ui_form_css_checkbox__boxOuter {
	border:2px solid #efefef;
}
._src_lib_ui_form_css_checkbox__checkbox._src_lib_ui_form_css_checkbox__checked ._src_lib_ui_form_css_checkbox__boxOuter {
	position:relative;
	border:2px solid #2980b9;
	background:#2980b9;
}
._src_lib_ui_form_css_checkbox__checkbox._src_lib_ui_form_css_checkbox__checked._src_lib_ui_form_css_checkbox__disabled ._src_lib_ui_form_css_checkbox__boxOuter {
	border:2px solid #c0def1;
	background:#c0def1;
}


._src_lib_ui_form_css_checkbox__checkbox ._src_lib_ui_form_css_checkbox__boxInner {
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	width:0.9rem;
	height:0.9rem;
	-webkit-transform:translateX(-50%) translateY(-50%);
	        transform:translateX(-50%) translateY(-50%);
	color:#ffffff;
	opacity:0;
}
._src_lib_ui_form_css_checkbox__checkbox._src_lib_ui_form_css_checkbox__checked ._src_lib_ui_form_css_checkbox__boxInner {
	opacity:1;
}


._src_lib_ui_form_css_checkbox__checkbox ._src_lib_ui_form_css_checkbox__label {
	font-family:Open Sans;
	font-size:1rem;
	line-height:1rem;
	padding-left:0.5rem;
	vertical-align:middle;
	color:#444444;
	-webkit-user-select:none;
	   -moz-user-select:none;
	    -ms-user-select:none;
	        user-select:none;
}
._src_lib_ui_form_css_checkbox__checkbox._src_lib_ui_form_css_checkbox__disabled ._src_lib_ui_form_css_checkbox__label {
	color:#cccccc;
}
._src_lib_ui_form_css_dropdown__dropdown {
	position:relative;
	font-family:Open Sans;
	font-size:1rem;
	height:3rem;
	z-index:1;
	overflow:hidden;
}
._src_lib_ui_form_css_dropdown__dropdownContent {
	position:relative;
	height:3rem;
	display:inline-block;
}

._src_lib_ui_form_css_dropdown__dropdown ._src_lib_ui_form_css_dropdown__triangle {
	width:0;
	height:0;
	border-left:3px solid transparent;
	border-right:3px solid transparent;
	border-top:8px solid #888888;
	position:absolute;
	right:1rem;
	top:50%;
	-webkit-transform:translateX(4px) translateY(-50%);
	        transform:translateX(4px) translateY(-50%);
}
._src_lib_ui_form_css_dropdown__dropdown ._src_lib_ui_form_css_dropdown__selected {
	height:3rem;
	line-height:3rem;
	padding:0 2rem 0 1rem;
	border:1px solid #cccccc;
	border-radius:0.2rem;
	box-sizing:border-box;
}

._src_lib_ui_form_css_dropdown__dropdown._src_lib_ui_form_css_dropdown__expanded {
	overflow:visible;
}
._src_lib_ui_form_css_dropdown__dropdownContent:hover ._src_lib_ui_form_css_dropdown__triangle, ._src_lib_ui_form_css_dropdown__dropdown._src_lib_ui_form_css_dropdown__expanded ._src_lib_ui_form_css_dropdown__triangle {
	border-top-color:#666666;
}
._src_lib_ui_form_css_dropdown__dropdownContent:hover ._src_lib_ui_form_css_dropdown__selected, ._src_lib_ui_form_css_dropdown__dropdown._src_lib_ui_form_css_dropdown__expanded ._src_lib_ui_form_css_dropdown__selected {
	border-color:#aaaaaa;
}
._src_lib_ui_form_css_dropdown__dropdown._src_lib_ui_form_css_dropdown__expanded ._src_lib_ui_form_css_dropdown__selected {
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}

._src_lib_ui_form_css_dropdown__dropdown ._src_lib_ui_form_css_dropdown__options {
	border:1px solid transparent;
	margin-top:-1px;
	border-bottom-left-radius:0.2rem;
	border-bottom-right-radius:0.2rem;
	overflow:hidden;
}

._src_lib_ui_form_css_dropdown__dropdown._src_lib_ui_form_css_dropdown__expanded ._src_lib_ui_form_css_dropdown__options {
	border:1px solid #aaaaaa;
	border-top:1px solid #cccccc;
}

._src_lib_ui_form_css_dropdown__dropdown ._src_lib_ui_form_css_dropdown__option {
	height:2.2rem;
	line-height:2.2rem;
	cursor:pointer;
	background:#ffffff;
	padding:0 2rem 0 1rem;
}

._src_lib_ui_form_css_dropdown__dropdown ._src_lib_ui_form_css_dropdown__option:hover {
	background:#fafafa;
}
._src_lib_ui_form_css_text__text {
	font-family:Open Sans;
	font-size:1rem;
	font-weight:400;
	color:#444444;
	-webkit-user-select:none;
	   -moz-user-select:none;
	    -ms-user-select:none;
	        user-select:none;
}

._src_lib_ui_form_css_text__text._src_lib_ui_form_css_text__bold {
	font-weight:600;
}

._src_lib_ui_form_css_text__text._src_lib_ui_form_css_text__italic {
	font-style:italic;
}

._src_lib_ui_form_css_text__text._src_lib_ui_form_css_text__centered {
	display:inline-block;
	text-align:center;
}

._src_lib_ui_form_css_text__text._src_lib_ui_form_css_text__selectable {
	-webkit-user-select:text;
	   -moz-user-select:text;
	    -ms-user-select:text;
	        user-select:text;
}
