@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800';
@import 'https://fonts.googleapis.com/css?family=Hind:400,500,600,700,300';
@import 'https://fonts.googleapis.com/css?family=Cousine:400,700';

body, html {
	padding:0;
	margin:0;
}

body {
	background:#ffffff;
}
