.words {
	position:absolute;
	left:1rem;
	top:4rem;
	bottom:2rem;
	width:200px;
	border-right:1px solid #f0f0f0;
	box-sizing:border-box;
}

.definition {
	position:absolute;
	left:calc(1rem + 200px);
	top:4rem;
	bottom:2rem;
	right:1rem;
}

.definitionContent {
	padding-left:1rem;
	padding-right:1rem;
}

.definitionPhrase {
	padding:0;
	margin:0;
	font-family:Open Sans;
	font-size:1rem;
	font-weight:600;
	color:#666666;
	margin-bottom:1rem;
}
