.loading {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#282b30;
	opacity:0;
	pointer-events:none;
	transition:0.2s ease-out;
}

.loading.visible {
	opacity:1;
}

.loadingCenter {
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	text-align:center;
}

.loading h1 {
	color:rgba(255,255,255,0.9);
	font-family:Open Sans;
	font-size:1.2rem;
	font-weight:400;
}

.loading h2 {
	color:rgba(255,255,255,0.7);
	font-family:Open Sans;
	font-size:0.9rem;
	font-weight:600;
	animation:pulsate 3s ease-in-out infinite;
}

.dashboard {
	width:100%;
	max-width:900px;
	margin:auto;
	padding-top:6rem;
}

.header {
	position:fixed;
	width:100%;
	max-width:900px;
	top:0;
	left:50%;
	transform:translateX(-50%);
	z-index:1;
}

.headerContent {
	position:relative;
	background:#393c41;
	height:5rem;
	border-radius:0.2rem;
	border:1px solid #282b30;
	margin:1rem;
}

.headerTitles {
	position:absolute;
	top:50%;
	left:2rem;
	transform:translateY(-50%);
}

.header h2 {
	margin:0;
	margin-bottom:0.2rem;
	color:rgba(255,255,255,0.7);
	font-family:Open Sans;
	font-size:0.9rem;
	font-weight:600;
	line-height:0.9rem;
}

.header h1 {
	margin:0;
	color:rgba(255,255,255,0.9);
	font-family:Open Sans;
	font-size:1.4rem;
	font-weight:600;
	line-height:1.4rem;
}

.headerRight {
	position:absolute;
	top:50%;
	right:2rem;
	transform:translateY(-50%);
}

@keyframes pulsate {
	0% { transform: scale(1, 1); opacity: 0.9; }
    50% { transform: scale(1.05, 1.05); opacity: 1.0;}
    100% { transform: scale(1, 1); opacity: 0.9; }
}
