.header {
	position:absolute;
	top:0;
	left:250px;
	right:0;
	background:#ffffff;
	height:4rem;
	border-bottom:2px solid rgba(0,0,0,0.05);
	box-sizing:border-box;
}

.header .title {
	position:absolute;
	top:50%;
	left:2rem;
	transform:translateY(-50%);
	right:6rem;
	margin:0;
	margin-top:0.1rem;
	color:#555555;
	font-family:Hind;
	font-size:1.2rem;
	font-weight:500;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.headerRight {
	position:absolute;
	top:50%;
	right:2rem;
	transform:translateY(-50%);
}
