.feeds {
	position:absolute;
	left:1rem;
	top:4rem;
	bottom:2rem;
	width:200px;
	border-right:1px solid #f0f0f0;
	box-sizing:border-box;
}

.details {
	position:absolute;
	left:calc(1rem + 200px);
	top:4rem;
	bottom:2rem;
	right:1rem;
}

.detailsContent {
	padding-left:1rem;
	padding-right:1rem;
}
